### Converting Text into Features

In [1]:
Text = "Iam learning NLP"

In [2]:
import pandas as pd
pd.get_dummies(Text.split())

   Iam  NLP  learning
0    1    0         0
1    0    0         1
2    0    1         0

### Using Count Vectorization

In [3]:
text = ["i love NLP i will learn NLP in 2months"]

In [5]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
vectorizer.fit(text)
vector = vectorizer.transform(text)

In [10]:
print(vectorizer.vocabulary_)
print(vector.toarray())

{'love': 3, 'nlp': 4, 'will': 5, 'learn': 2, 'in': 1, '2months': 0}
[[1 1 1 1 2 1]]

In [8]:
print(vector)

  (0, 0)	1
  (0, 1)	1
  (0, 2)	1
  (0, 3)	1
  (0, 4)	2
  (0, 5)	1

In [9]:
CountVectorizer?

In [22]:
df=pd.DataFrame(data=vector.toarray(),columns=vectorizer.get_feature_names_out())
df

   2months  in  learn  love  nlp  will
0        1   1      1     1    2     1

### Generating N-Gram

In [16]:
text = 'I am learning Nlp'

In [18]:
!pip install textblob
import nltk
nltk.download('punkt')
from textblob import TextBlob
text = 'I am learning Nlp'
ngrams = TextBlob(text).ngrams(1)
print(ngrams)

Requirement already satisfied: textblob in c:\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: nltk>=3.9 in c:\anaconda3\lib\site-packages (from textblob) (3.9.1)
Requirement already satisfied: click in c:\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (8.0.4)
Requirement already satisfied: joblib in c:\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2022.7.9)
Requirement already satisfied: tqdm in c:\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.65.0)
Requirement already satisfied: colorama in c:\anaconda3\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)
[WordList(['I']), WordList(['am']), WordList(['learning']), WordList(['Nlp'])]

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\RISHITHAA\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [19]:
TextBlob(text).ngrams(2)

[WordList(['I', 'am']),
 WordList(['am', 'learning']),
 WordList(['learning', 'Nlp'])]

### Covid Fake News Classification

In [10]:
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
import pickle
from sklearn.linear_model import LogisticRegressionCV
import re
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [12]:
df = pd.read_csv('covid_fake.csv')

In [13]:
df.head()

,title,text,source,label
0,Due to the recent outbreak for the Coronavirus...,"You just need to add water, and the drugs and ...",coronavirusmedicalkit.com,Fake
1,NaN,Hydroxychloroquine has been shown to have a 10...,RudyGiuliani,Fake
2,NaN,Fact: Hydroxychloroquine has been shown to hav...,CharlieKirk,Fake
3,NaN,The Corona virus is a man made virus created i...,JoanneWrightForCongress,Fake
4,NaN,Doesn’t @BillGates finance research at the Wuh...,JoanneWrightForCongress,Fake

In [14]:
df.shape

(1164, 4)

In [17]:
df['label'].value_counts()

TRUE    584
Fake    345
fake    230
Name: label, dtype: int64

In [16]:
df.loc[5:15]

,title,text,source,label
5,CORONA UNMASKED: Chinese Intelligence Officer ...,NaN,NaN,NaN
6,NaN,Urgent: Health Bulletin to the Public. Ministr...,Ministry of Health,Fake
7,NaN,"Pls tell ur families, relatives and friendsMOH...",NWLLAB,Fake
8,NaN,SERIOUS EXCELLENT ADVICE by Japanese doctors t...,Japanese doctors treating COVID-19 cases,Fake
9,Basic protective measures against the new coro...,Stay aware of the latest information on the CO...,https://www.who.int/emergencies/diseases/novel...,TRUE
10,NaN,The new Coronavirus may not show signs of infe...,Taiwan Experts,Fake
11,NaN,A vaccine meant for cattle can be used to figh...,facebook,Fake
12,NaN,Using a hair dryer to breathe in hot air can c...,Youtube,Fake
13,NaN,Corona virus before it reaches the lungs it re...,twitter,Fake
14,Exposing yourself to the sun or to temperature...,"You can catch COVID-19, no matter how sunny or...",https://www.who.int/emergencies/diseases/novel...,TRUE
15,You can recover from the coronavirus disease (...,Most of the people who catch COVID-19 can reco...,https://www.who.int/emergencies/diseases/novel...,NaN